.contact {
  min-width: 100% !important;
  font-family: "Raleway", sans-serif;
}

.address-bg {
  background-color: #f7f7f7;
  padding: 50px 20px;
  color: #626262;
  font-size: 15px;
}

.tel-bg {
  background-color: #354a6b;
  padding: 50px 20px;
  color: #fff;
}

.email-bg {
  background-color: #323232;
  padding: 50px 20px;
  color: #fff;
}
